<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943153451077-8m54d7snqi9qgq4hsbgmjbpvfot24aeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943153451077-8m54d7snqi9qgq4hsbgmjbpvfot24aeu</string>
	<key>API_KEY</key>
	<string>AIzaSyATxn1bY74cAYPDoDAZGQ1Mrh-SCHerHjE</string>
	<key>GCM_SENDER_ID</key>
	<string>943153451077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardapp</string>
	<key>PROJECT_ID</key>
	<string>app1-c1062</string>
	<key>STORAGE_BUCKET</key>
	<string>app1-c1062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943153451077:ios:8f86043314f0af535c932c</string>
</dict>
</plist>